

.sectionfrom
{
background-color:blue;
padding:5px;
border:2px solid red;
margin-bottom:200px;
margin-top:98px;
margin-left:20px;
margin-right:50px; 
}








nav {
        background-color: #333;
        color: #fff;
         text-align: center;
	 position: sticky;
         top:0;

            
        }

        nav {
            list-style-type: none;
            padding: 0;
        }

        nav  {
            display: inline;
            margin: 0 20px;
        }

        nav {
            text-decoration: none;
            color: #fff;
        }






.formSS
{

border-style:inset;
margin:auto;
text-align:center;
padding-bottom:50px;
padding-top:50px;

border: 20px solid black;
background-color:papayawhip;
border-radius:12px;
height:250px;
width:400px;
    
}


.heading1
{
background-color:blue;
text-align:center; 
color:red;
padding:30px;
}
h2
{background-color:blue;
text-align:center;
color:red;}
h3
{
background-color:grey;
color:white;
padding:10px;}
th
{
height:100px
}
td
{
height:70px;
width:70px;}
tr:nth-child(odd)
{ background-color:green;}
.upl
{
 
 scroll-padding-block: 20px;   
 border:10px solid red;
  border-radius:20px ;
     
}
</STYLE>
 